body {
    margin: 0;
    cursor: url("../../assets/input/cursors/2392.png"),pointer;
}
aside {
    margin: 0;
    background: url("../img/15126670_p0_master1200.jpg");
    background-repeat: no-repeat;
    background-size: 99.99%;
    width: 100%;
    height: 100vh;
}

.logo {
    text-align: center;
    filter: drop-shadow(0 0 90px limegreen);
}


.fo {
    position: relative;
    width: 100%;
    height: 90px;
    background: url("../img/footer.svg") repeat-x;
    margin-top: 20%;
    z-index: +1;
}

.sw {
    border: 1px solid #1e6151;
    height: 50vh;
    background: #1e6151;
    text-align: center;
}


button {
    width: 200px;
    height: 50px;
    font-family: cursive;
    border-radius: 50px;
    font-size: large;
    margin: auto;
    font-weight: 700;
    color:darkred;
    border: 1px solid green;
    background: linear-gradient(gold,orange,gold);
    filter: drop-shadow(0 0 90px gold);
    cursor: url("../../assets/input/cursors/2392.png"),pointer;
    transition: 0.1s;
}


button:hover {
    width: 300px;
}



@media screen and (max-width: 1100px) {
    img {
        width: 350px;
    }
}
